{% extends 'base.html.twig' %}

{% block title %} Toegang geweigerd {% endblock title %}
{% block body %}
    <div class="error">
        {{ include('403_content.html.twig') }}
    </div>
{% endblock body %}
