{% extends 'base.html.twig' %}

{% block title %} Pagina niet gevonden {% endblock title %}
{% block body %}
    <div class="error">
        {{ include('404_content.html.twig') }}
    </div>
{% endblock body %}
